# Data sources

**Dataset 1: University GPA/ACT/SAT Acceptance Info (2020)**

URL: https://www.kaggle.com/datasets/tacotown414/university-gpaactsat-acceptance-2020


**Dataset 2: SAT to GPA**

URL: https://www.kaggle.com/datasets/farhansadeek/sat-to-gpa

**Dataset3: University Admission Dataset**

URL: https://www.kaggle.com/datasets/farhansadeek/university-admission-dataset

# Deliverable 2

## Importing Libraries

In [386]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Parsing Datasets

Firstly, all the datasets - `.csv` files will be read using two methods:
-  The `open()` function with the file name, `'r'` being passed in as parameters, and then use the `readlines()` function to read the parsed csv file
-  Use the `pd.read_csv()` function which returns the dataframe version of the dataset

In [387]:
with open('University Acceptance Info.csv', 'r') as file:
  dataset1 = file.readlines()

#create a new list acceptance_info to append the cleaned data from the .csv file
  acceptance_info = list()

  for d in dataset1:
    acceptance_info.append(d.strip('\n').split(',')) #eliminating the '\n' from dataset1's objects

In [388]:
with open('SAT to GPA.csv', 'r') as file:
  dataset2 = file.readlines()

In [389]:
score_importance = pd.read_csv('Admission Data.csv')

## Dataset 1: University GPA/SAT Acceptance Info

- This dataset shows the average standardized tests scores, as well as GPAs corresponding to the best 295 universities in the country. Also, the acceptance rates and financial statistics are included to demonstrate how rigorous are the universities. 

- Considering the average SAT, average GPA and the universities' rankings helps determine whether the SAT scores or GPA of top-tier universities' admitted students match their school's reputation more 

-  We can spot if the students' GPA or SAT is more average than the 'expected' score to get in those universities to figure the scores' weight in this situation

### Step 1: Construct a Dictionary of Lists (DoL) representation 

Function `uni_score_average()` takes L (we can pass in a parsed dataset) as one argument and then returns it as a Dictionary of Lists (DoL)

In [390]:
def uni_score_average(L):
  DoL = dict() #creating an empty dictionary to update the keys-values to construct a DoL

  for i in range(len(L[0])): #selecting the first key of the dictionary as the index 
    DoL[L[0][i]] = list() #for each key of the DoL, create a list of corresponding values
    
    for j in range(1, len(L)):
      dict_value = L[j][i] #with a loop going through every key's list of values, assign them to a variable called dict_value
      DoL[L[0][i]].append(dict_value) #append the values to every list of values within each key
  
  return DoL

uni_score_average(acceptance_info)

{'\ufeffKEYid': ['2627',
  '2155',
  '1774',
  '1426',
  '2707',
  '2178',
  '1305',
  '3378',
  '2920',
  '1131',
  '2573',
  '2077',
  '1739',
  '3401',
  '2711',
  '3604',
  '3535',
  '1840',
  '2520',
  '1445',
  '1564',
  '1312',
  '1315',
  '1328',
  '3242',
  '6968',
  '2978',
  '9092',
  '2219',
  '2785',
  '2974',
  '2128',
  '3705',
  '2133',
  '1569',
  '2894',
  '2130',
  '3024',
  '1320',
  '2199',
  '2029',
  '2803',
  '1314',
  '1317',
  '1535',
  '3289',
  '1264',
  '1313',
  '1536',
  '3895',
  '3388',
  '6965',
  '1775',
  '6883',
  '1598',
  '1444',
  '1825',
  '29013',
  '3658',
  '3798',
  '3670',
  '2722',
  '3613',
  '2882',
  '2103',
  '2233',
  '3425',
  '3379',
  '1434',
  '6964',
  '2639',
  '10366',
  '3969',
  '3754',
  '6967',
  '1348',
  '2221',
  '7104',
  '3636',
  '1892',
  '2139',
  '1489',
  '2290',
  '2972',
  '1321',
  '1431',
  '2836',
  '1371',
  '3185',
  '1809',
  '3863',
  '1370',
  '10395',
  '3256',
  '2506',
  '2903',
  '2806',
  '2838',
  '2851',
  '9554',
  '3184',
  '3696',
  '1009',
  '1691',
  '1710',
  '2589',
  '3223',
  '3448',
  '3530',
  '1448',
  '1051',
  '1325',
  '1329',
  '3675',
  '1081',
  '1869',
  '3371',
  '1948',
  '2345',
  '1437',
  '1671',
  '3258',
  '2516',
  '2699',
  '1350',
  '2292',
  '2632',
  '1083',
  '1316',
  '3127',
  '2565',
  '2732',
  '2010',
  '1580',
  '20662',
  '2631',
  '1108',
  '3125',
  '1989',
  '3749',
  '2621',
  '1151',
  '1537',
  '3800',
  '1928',
  '3210',
  '2821',
  '1776',
  '2440',
  '9741',
  '2666',
  '1469',
  '3100',
  '3788',
  '2835',
  '3170',
  '2161',
  '3414',
  '1122',
  '1692',
  '1052',
  '1610',
  '1216',
  '2105',
  '3276',
  '2482',
  '2517',
  '2823',
  '4127',
  '1999',
  '2423',
  '2609',
  '3954',
  '1626',
  '3735',
  '3051',
  '3359',
  '3644',
  '3528',
  '1422',
  '3848',
  '2160',
  '3486',
  '2218',
  '2053',
  '3932',
  '1117',
  '1786',
  '2617',
  '2791',
  '3827',
  '2238',
  '1813',
  '3652',
  '10313',
  '3005',
  '3313',
  '2657',
  '9265',
  '1509',
  '2975',
  '3018',
  '1137',
  '3560',
  '2222',
  '2568',
  '2243',
  '2923',
  '1480',
  '2532',
  '1063',
  '6740',
  '2210',
  '2536',
  '2330',
  '9635',
  '2008',
  '3471',
  '1758',
  '1055',
  '2518',
  '3677',
  '3012',
  '1767',
  '1147',
  '2929',
  '1574',
  '3737',
  '10300',
  '2329',
  '2114',
  '1579',
  '1466',
  '1616',
  '3837',
  '1551',
  '3032',
  '2259',
  '3487',
  '1481',
  '1572',
  '9563',
  '3277',
  '2410',
  '1577',
  '3581',
  '10392',
  '2480',
  '3510',
  '2083',
  '2905',
  '1082',
  '1737',
  '2307',
  '3728',
  '3216',
  '3630',
  '30913',
  '3606',
  '1154',
  '3522',
  '3523',
  '3565',
  '11161',
  '3639',
  '3642',
  '3615',
  '3646',
  '3526',
  '1772',
  '3123',
  '1101',
  '2031',
  '2020',
  '2106',
  '3509',
  '2519',
  '2554',
  '2569',
  '2015',
  '2976',
  '1349',
  '3594',
  '1057',
  '2441',
  '3656',
  '3661',
  '666978',
  '10115',
  '1962',
  '3131',
  '3955',
  '1601',
  '3896',
  '1599',
  '1950',
  '9168'],
 'School Name': ['Princeton University',
  'Harvard University',
  'University of Chicago',
  'Yale University',
  'Columbia University',
  'Massachusetts Institute of Technology',
  'Stanford University',
  'University of Pennsylvania',
  'Duke University',
  'California Institute of Technology',
  'Dartmouth College',
  'Johns Hopkins University',
  'Northwestern University',
  'Brown University',
  'Cornell University',
  'Rice University',
  'Vanderbilt University',
  'University of Notre Dame',
  'Washington University in St. Louis',
  'Georgetown University',
  'Emory University',
  'University of California--Berkeley',
  'University of California--Los Angeles',
  'University of Southern California',
  'Carnegie Mellon University',
  'University of Virginia',
  'Wake Forest University',
  'University of Michigan--Ann Arbor',
  'Tufts University',
  'New York University',
  'University of North Carolina--Chapel Hill',
  'Boston College',
  'College of William and Mary',
  'Brandeis University',
  'Georgia Institute of Technology',
  'University of Rochester',
  'Boston University',
  'Case Western Reserve University',
  'University of California--Santa Barbara',
  'Northeastern University',
  'Tulane University',
  'Rensselaer Polytechnic Institute',
  'University of California--Irvine',
  'University of California--San Diego',
  'University of Florida',
  'Lehigh University',
  'Pepperdine University',
  'University of California--Davis',
  'University of Miami',
  'University of Wisconsin--Madison',
  'Villanova University',
  'Pennsylvania State University--University Park',
  'University of Illinois--Urbana-Champaign',
  'Ohio State University--Columbus',
  'University of Georgia',
  'George Washington University',
  'Purdue University--West Lafayette',
  'University of Connecticut',
  'University of Texas--Austin',
  'University of Washington',
  'Brigham Young University--Provo',
  'Fordham University',
  'Southern Methodist University',
  'Syracuse University',
  'University of Maryland--College Park',
  'Worcester Polytechnic Institute',
  'Clemson University',
  'University of Pittsburgh',
  'American University',
  'Rutgers University--New Brunswick',
  'Stevens Institute of Technology',
  'Texas A&M University--College Station',
  'University of Minnesota--Twin Cities',
  'Virginia Tech',
  'Baylor University',
  'Colorado School of Mines',
  'University of Massachusetts--Amherst',
  'Miami University--Oxford',
  'Texas Christian University',
  'University of Iowa',
  'Clark University',
  'Florida State University',
  'Michigan State University',
  'North Carolina State University--Raleigh',
  'University of California--Santa Cruz',
  'University of Delaware',
  'Binghamton University--SUNY',
  'University of Denver',
  'University of Tulsa',
  'Indiana University--Bloomington',
  'Marquette University',
  'University of Colorado--Boulder',
  'University of San Diego',
  'Drexel University',
  'Saint Louis University',
  'Yeshiva University',
  'Rochester Institute of Technology',
  'Stony Brook University--SUNY',
  'SUNY College of Environmental Science and Forestry',
  'University at Buffalo--SUNY',
  'University of Oklahoma',
  'University of Vermont',
  'Auburn University',
  'Illinois Institute of Technology',
  'Loyola University Chicago',
  'University of New Hampshire',
  'University of Oregon',
  'University of South Carolina',
  'University of Tennessee',
  'Howard University',
  'University of Alabama',
  'University of San Francisco',
  'University of the Pacific',
  'University of Utah',
  'Arizona State University--Tempe',
  'Iowa State University',
  'Temple University',
  'University of Kansas',
  'University of St. Thomas',
  'The Catholic University of America',
  'DePaul University',
  'Duquesne University',
  'University of Missouri',
  'Clarkson University',
  'Colorado State University',
  'Michigan Technological University',
  'Seton Hall University',
  'University of Arizona',
  'University of California--Riverside',
  'University of Dayton',
  'University of Nebraska--Lincoln',
  'Hofstra University',
  'Louisiana State University--Baton Rouge',
  'Mercer University',
  'The New School',
  'Rutgers University--Newark',
  'University of Arkansas',
  'University of Cincinnati',
  'University of Kentucky',
  'George Mason University',
  'New Jersey Institute of Technology',
  'San Diego State University',
  'University of South Florida',
  'Washington State University',
  'Kansas State University',
  'Oregon State University',
  'St. John Fisher College',
  'University of Illinois--Chicago',
  'University of Mississippi',
  'University of Texas--Dallas',
  'Adelphi University',
  'Florida Institute of Technology',
  'Ohio University',
  'Seattle Pacific University',
  'University at Albany--SUNY',
  'Oklahoma State University',
  'University of Massachusetts--Lowell',
  'University of Rhode Island',
  'Biola University',
  'Illinois State University',
  'University of Alabama--Birmingham',
  'University of Hawaii--Manoa',
  'University of La Verne',
  'University of Maryland--Baltimore County',
  'Immaculata University',
  'Maryville University of St. Louis',
  'Missouri University of Science & Technology',
  "St. John's University",
  'University of California--Merced',
  'University of Louisville',
  'Mississippi State University',
  'Rowan University',
  'University of Central Florida',
  'University of Idaho',
  'Virginia Commonwealth University',
  'Kent State University',
  'Robert Morris University',
  'Texas Tech University',
  'Union University',
  'University of Hartford',
  'Edgewood College',
  'Lesley University',
  'Lipscomb University',
  'Suffolk University',
  'University of Maine',
  'University of Wyoming',
  'Azusa Pacific University',
  'Ball State University',
  'Montclair State University',
  'Pace University',
  'West Virginia University',
  'Andrews University',
  'Indiana University-Purdue University--Indianapolis',
  'University of Houston',
  'University of New Mexico',
  'University of North Dakota',
  'Widener University',
  'New Mexico State University',
  'North Dakota State University',
  'Nova Southeastern University',
  'University of North Carolina--Charlotte',
  'Bowling Green State University',
  'California State University--Fullerton',
  'Dallas Baptist University',
  'University of Massachusetts--Boston',
  'University of Nevada--Reno',
  'Central Michigan University',
  'East Carolina University',
  'Florida A&M University',
  'Montana State University',
  'University of Alaska--Fairbanks',
  'University of Colorado--Denver',
  'University of Massachusetts--Dartmouth',
  'University of Montana',
  'Western Michigan University',
  'Florida International University',
  'Louisiana Tech University',
  'South Dakota State University',
  'Southern Illinois University--Carbondale',
  'University of Alabama--Huntsville',
  'University of Missouri--Kansas City',
  'Utah State University',
  'Ashland University',
  'Benedictine University',
  'California State University--Fresno',
  'Gardner-Webb University',
  'Georgia State University',
  'Shenandoah University',
  'University of South Dakota',
  'Wayne State University',
  'American International College',
  'Augusta University',
  'Barry University',
  'Boise State University',
  'Cardinal Stritch University',
  'Clark Atlanta University',
  'Cleveland State University',
  'Eastern Michigan University',
  'East Tennessee State University',
  'Florida Atlantic University',
  'Georgia Southern University',
  'Indiana State University',
  'Indiana University of Pennsylvania',
  'Jackson State University',
  'Kennesaw State University',
  'Lamar University',
  'Liberty University',
  'Lindenwood University',
  'Middle Tennessee State University',
  'Morgan State University',
  'North Carolina A&T State University',
  'Northern Arizona University',
  'Northern Illinois University',
  'Oakland University',
  'Old Dominion University',
  'Portland State University',
  'Prairie View A&M University',
  'Regent University',
  'Sam Houston State University',
  'San Francisco State University',
  'Tennessee State University',
  'Tennessee Technological University',
  'Texas A&M University--Commerce',
  'Texas A&M University--Corpus Christi',
  'Texas A&M University--Kingsville',
  'Texas Southern University',
  'Texas State University',
  "Texas Woman's University",
  'Trevecca Nazarene University',
  'Trinity International University',
  'University of Akron',
  'University of Arkansas--Little Rock',
  'University of Louisiana--Lafayette',
  'University of Louisiana--Monroe',
  'University of Maryland--Eastern Shore',
  'University of Memphis',
  'University of Missouri--St. Louis',
  'University of Nebraska--Omaha',
  'University of Nevada--Las Vegas',
  'University of New Orleans',
  'University of North Carolina--Greensboro',
  'University of Northern Colorado',
  'University of North Texas',
  'University of South Alabama',
  'University of Southern Mississippi',
  'University of Texas--Arlington',
  'University of Texas--El Paso',
  'University of Texas--Rio Grande Valley',
  'University of Texas--San Antonio',
  'University of the Cumberlands',
  'University of Toledo',
  'University of West Florida',
  'University of West Georgia',
  'University of Wisconsin--Milwaukee',
  'Valdosta State University',
  'Wichita State University',
  'Wright State University'],
 'State': ['NJ',
  'MA',
  'IL',
  'CT',
  'NY',
  'MA',
  'CA',
  'PA',
  'NC',
  'CA',
  'NH',
  'MD',
  'IL',
  'RI',
  'NY',
  'TX',
  'TN',
  'IN',
  'MO',
  'DC',
  'GA',
  'CA',
  'CA',
  'CA',
  'PA',
  'VA',
  'NC',
  'MI',
  'MA',
  'NY',
  'NC',
  'MA',
  'VA',
  'MA',
  'GA',
  'NY',
  'MA',
  'OH',
  'CA',
  'MA',
  'LA',
  'NY',
  'CA',
  'CA',
  'FL',
  'PA',
  'CA',
  'CA',
  'FL',
  'WI',
  'PA',
  'PA',
  'IL',
  'OH',
  'GA',
  'DC',
  'IN',
  'CT',
  'TX',
  'WA',
  'UT',
  'NY',
  'TX',
  'NY',
  'MD',
  'MA',
  'SC',
  'PA',
  'DC',
  'NJ',
  'NJ',
  'TX',
  'MN',
  'VA',
  'TX',
  'CO',
  'MA',
  'OH',
  'TX',
  'IA',
  'MA',
  'FL',
  'MI',
  'NC',
  'CA',
  'DE',
  'NY',
  'CO',
  'OK',
  'IN',
  'WI',
  'CO',
  'CA',
  'PA',
  'MO',
  'NY',
  'NY',
  'NY',
  'NY',
  'NY',
  'OK',
  'VT',
  'AL',
  'IL',
  'IL',
  'NH',
  'OR',
  'SC',
  'TN',
  'DC',
  'AL',
  'CA',
  'CA',
  'UT',
  'AZ',
  'IA',
  'PA',
  'KS',
  'MN',
  'DC',
  'IL',
  'PA',
  'MO',
  'NY',
  'CO',
  'MI',
  'NJ',
  'AZ',
  'CA',
  'OH',
  'NE',
  'NY',
  'LA',
  'GA',
  'NY',
  'NJ',
  'AR',
  'OH',
  'KY',
  'VA',
  'NJ',
  'CA',
  'FL',
  'WA',
  'KS',
  'OR',
  'NY',
  'IL',
  'MS',
  'TX',
  'NY',
  'FL',
  'OH',
  'WA',
  'NY',
  'OK',
  'MA',
  'RI',
  'CA',
  'IL',
  'AL',
  'HI',
  'CA',
  'MD',
  'PA',
  'MO',
  'MO',
  'NY',
  'CA',
  'KY',
  'MS',
  'NJ',
  'FL',
  'ID',
  'VA',
  'OH',
  'PA',
  'TX',
  'TN',
  'CT',
  'WI',
  'MA',
  'TN',
  'MA',
  'ME',
  'WY',
  'CA',
  'IN',
  'NJ',
  'NY',
  'WV',
  'MI',
  'IN',
  'TX',
  'NM',
  'ND',
  'PA',
  'NM',
  'ND',
  'FL',
  'NC',
  'OH',
  'CA',
  'TX',
  'MA',
  'NV',
  'MI',
  'NC',
  'FL',
  'MT',
  'AK',
  'CO',
  'MA',
  'MT',
  'MI',
  'FL',
  'LA',
  'SD',
  'IL',
  'AL',
  'MO',
  'UT',
  'OH',
  'IL',
  'CA',
  'NC',
  'GA',
  'VA',
  'SD',
  'MI',
  'MA',
  'GA',
  'FL',
  'ID',
  'WI',
  'GA',
  'OH',
  'MI',
  'TN',
  'FL',
  'GA',
  'IN',
  'PA',
  'MS',
  'GA',
  'TX',
  'VA',
  'MO',
  'TN',
  'MD',
  'NC',
  'AZ',
  'IL',
  'MI',
  'VA',
  'OR',
  'TX',
  'VA',
  'TX',
  'CA',
  'TN',
  'TN',
  'TX',
  'TX',
  'TX',
  'TX',
  'TX',
  'TX',
  'TN',
  'IL',
  'OH',
  'AR',
  'LA',
  'LA',
  'MD',
  'TN',
  'MO',
  'NE',
  'NV',
  'LA',
  'NC',
  'CO',
  'TX',
  'AL',
  'MS',
  'TX',
  'TX',
  'TX',
  'TX',
  'KY',
  'OH',
  'FL',
  'GA',
  'WI',
  'GA',
  'KS',
  'OH'],
 'City': ['Princeton',
  'Cambridge',
  'Chicago',
  'New Haven',
  'New York',
  'Cambridge',
  'Stanford',
  'Philadelphia',
  'Durham',
  'Pasadena',
  'Hanover',
  'Baltimore',
  'Evanston',
  'Providence',
  'Ithaca',
  'Houston',
  'Nashville',
  'Notre Dame',
  'St. Louis',
  'Washington',
  'Atlanta',
  'Berkeley',
  'Los Angeles',
  'Los Angeles',
  'Pittsburgh',
  'Charlottesville',
  'Winston-Salem',
  'Ann Arbor',
  'Medford',
  'New York',
  'Chapel Hill',
  'Chestnut Hill',
  'Williamsburg',
  'Waltham',
  'Atlanta',
  'Rochester',
  'Boston',
  'Cleveland',
  'Santa Barbara',
  'Boston',
  'New Orleans',
  'Troy',
  'Irvine',
  'La Jolla',
  'Gainesville',
  'Bethlehem',
  'Malibu',
  'Davis',
  'Coral Gables',
  'Madison',
  'Villanova',
  'University Park',
  'Champaign',
  'Columbus',
  'Athens',
  'Washington',
  'West Lafayette',
  'Storrs',
  'Austin',
  'Seattle',
  'Provo',
  'New York',
  'Dallas',
  'Syracuse',
  'College Park',
  'Worcester',
  'Clemson',
  'Pittsburgh',
  'Washington',
  'Piscataway',
  'Hoboken',
  'College Station',
  'Minneapolis',
  'Blacksburg',
  'Waco',
  'Golden',
  'Amherst',
  'Oxford',
  'Fort Worth',
  'Iowa City',
  'Worcester',
  'Tallahassee',
  'East Lansing',
  'Raleigh',
  'Santa Cruz',
  'Newark',
  'Binghamton',
  'Denver',
  'Tulsa',
  'Bloomington',
  'Milwaukee',
  'Boulder',
  'San Diego',
  'Philadelphia',
  'St. Louis',
  'New York',
  'Rochester',
  'Stony Brook',
  'Syracuse',
  'Buffalo',
  'Norman',
  'Burlington',
  'Auburn',
  'Chicago',
  'Chicago',
  'Durham',
  'Eugene',
  'Columbia',
  'Knoxville',
  'Washington',
  'Tuscaloosa',
  'San Francisco',
  'Stockton',
  'Salt Lake City',
  'Tempe',
  'Ames',
  'Philadelphia',
  'Lawrence',
  'St. Paul',
  'Washington',
  'Chicago',
  'Pittsburgh',
  'Columbia',
  'Potsdam',
  'Fort Collins',
  'Houghton',
  'South Orange',
  'Tucson',
  'Riverside',
  'Dayton',
  'Lincoln',
  'Hempstead',
  'Baton Rouge',
  'Macon',
  'New York',
  'Newark',
  'Fayetteville',
  'Cincinnati',
  'Lexington',
  'Fairfax',
  'Newark',
  'San Diego',
  'Tampa',
  'Pullman',
  'Manhattan',
  'Corvallis',
  'Rochester',
  'Chicago',
  'University',
  'Richardson',
  'Garden City',
  'Melbourne',
  'Athens',
  'Seattle',
  'Albany',
  'Stillwater',
  'Lowell',
  'Kingston',
  'La Mirada',
  'Normal',
  'Birmingham',
  'Honolulu',
  'La Verne',
  'Baltimore',
  'Immaculata',
  'St Louis',
  'Rolla',
  'Queens',
  'Merced',
  'Louisville',
  'Mississippi State',
  'Glassboro',
  'Orlando',
  'Moscow',
  'Richmond',
  'Kent',
  'Moon Township',
  'Lubbock',
  'Jackson',
  'West Hartford',
  'Madison',
  'Cambridge',
  'Nashville',
  'Boston',
  'Orono',
  'Laramie',
  'Azusa',
  'Muncie',
  'Montclair',
  'New York',
  'Morgantown',
  'Berrien Springs',
  'Indianapolis',
  'Houston',
  'Albuquerque',
  'Grand Forks',
  'Chester',
  'Las Cruces',
  'Fargo',
  'Ft. Lauderdale',
  'Charlotte',
  'Bowling Green',
  'Fullerton',
  'Dallas',
  'Boston',
  'Reno',
  'Mount Pleasant',
  'Greenville',
  'Tallahassee',
  'Bozeman',
  'Fairbanks',
  'Denver',
  'North Dartmouth',
  'Missoula',
  'Kalamazoo',
  'Miami',
  'Ruston',
  'Brookings',
  'Carbondale',
  'Huntsville',
  'Kansas City',
  'Logan',
  'Ashland',
  'Lisle',
  'Fresno',
  'Boiling Springs',
  'Atlanta',
  'Winchester',
  'Vermillion',
  'Detroit',
  'Springfield',
  'Augusta',
  'Miami Shores',
  'Boise',
  'Milwaukee',
  'Atlanta',
  'Cleveland',
  'Ypsilanti',
  'Johnson City',
  'Boca Raton',
  'Statesboro',
  'Terre Haute',
  'Indiana',
  'Jackson',
  'Kennesaw',
  'Beaumont',
  'Lynchburg',
  'St. Charles',
  'Murfreesboro',
  'Baltimore',
  'Greensboro',
  'Flagstaff',
  'DeKalb',
  'Rochester',
  'Norfolk',
  'Portland',
  'Prairie View',
  'Virginia Beach',
  'Huntsville',
  'San Francisco',
  'Nashville',
  'Cookeville',
  'Commerce',
  'Corpus Christi',
  'Kingsville',
  'Houston',
  'San Marcos',
  'Denton',
  'Nashville',
  'Deerfield',
  'Akron',
  'Little Rock',
  'Lafayette',
  'Monroe',
  'Princess Anne',
  'Memphis',
  'St. Louis',
  'Omaha',
  'Las Vegas',
  'New Orleans',
  'Greensboro',
  'Greeley',
  'Denton',
  'Mobile',
  'Hattiesburg',
  'Arlington',
  'El Paso',
  'Edinburg',
  'San Antonio',
  'Williamsburg',
  'Toledo',
  'Pensacola',
  'Carrollton',
  'Milwaukee',
  'Valdosta',
  'Wichita',
  'Dayton'],
 'School Ranking': ['1',
  '2',
  '3',
  '3',
  '5',
  '5',
  '5',
  '8',
  '9',
  '10',
  '11',
  '11',
  '11',
  '14',
  '14',
  '14',
  '14',
  '18',
  '18',
  '20',
  '21',
  '21',
  '21',
  '21',
  '25',
  '25',
  '27',
  '28',
  '29',
  '30',
  '30',
  '32',
  '32',
  '34',
  '34',
  '34',
  '37',
  '37',
  '37',
  '40',
  '40',
  '42',
  '42',
  '42',
  '42',
  '46',
  '46',
  '46',
  '46',
  '46',
  '46',
  '52',
  '52',
  '54',
  '54',
  '56',
  '56',
  '56',
  '56',
  '56',
  '61',
  '61',
  '61',
  '61',
  '61',
  '61',
  '67',
  '68',
  '69',
  '69',
  '69',
  '69',
  '69',
  '69',
  '75',
  '75',
  '75',
  '78',
  '78',
  '78',
  '81',
  '81',
  '81',
  '81',
  '81',
  '81',
  '87',
  '87',
  '87',
  '90',
  '90',
  '90',
  '90',
  '94',
  '94',
  '94',
  '97',

### Step 2: Construct a pandas DataFrame from the DoL created

In [391]:
acceptance_df = pd.DataFrame(uni_score_average(acceptance_info))
acceptance_df.head(60)

,﻿KEYid,School Name,State,City,School Ranking,ACT Avg,SAT Avg,HS GPA Avg,Total Enrollment,Acceptance Rate,Percent Receiving Aid,Cost after Aid,Total Tuiton,Is Public?
0,2627,Princeton University,NJ,Princeton,1,32,1400,3.9,5400,7.00%,60.00%,16793,47140,TRUE
1,2155,Harvard University,MA,Cambridge,2,32,1430,4,6710,5.00%,55.00%,16338,48949,TRUE
2,1774,University of Chicago,IL,Chicago,3,32,1450,4,5941,8.00%,42.00%,27767,54825,TRUE
3,1426,Yale University,CT,New Haven,3,32,1420,,5472,6.00%,50.00%,18385,51400,TRUE
4,2707,Columbia University,NY,New York,5,32,1430,,6113,6.00%,48.00%,21041,57208,TRUE
5,2178,Massachusetts Institute of Technology,MA,Cambridge,5,33,1460,,4524,8.00%,58.00%,20331,49892,TRUE
6,1305,Stanford University,CA,Stanford,5,31,1380,,7034,5.00%,47.00%,19296,49617,TRUE
7,3378,University of Pennsylvania,PA,Philadelphia,8,32,1380,3.9,10019,9.00%,47.00%,25441,53534,TRUE
8,2920,Duke University,NC,Durham,9,31,1380,,6609,11.00%,41.00%,23374,53744,TRUE
9,1131,California Institute of Technology,CA,Pasadena,10,34,1510,,979,8.00%,51.00%,23973,49908,TRUE
10,2573,Dartmouth College,NH,Hanover,11,30,1350,,4310,11.00%,50.00%,23312,52950,TRUE
11,2077,Johns Hopkins University,MD,Baltimore,11,32,1420,3.9,6117,12.00%,45.00%,30067,52170,TRUE
12,1739,Northwestern University,IL,Evanston,11,32,1400,,8353,11.00%,43.00%,31087,52678,TRUE
13,3401,Brown University,RI,Providence,14,31,1370,,6926,9.00%,41.00%,24482,53419,TRUE
14,2711,Cornell University,NY,Ithaca,14,31,1330,,14566,14.00%,44.00%,28068,52853,TRUE
15,3604,Rice University,TX,Houston,14,32,1410,,3893,15.00%,37.00%,23996,45608,TRUE
16,3535,Vanderbilt University,TN,Nashville,14,32,1420,3.8,6871,11.00%,46.00%,23323,47664,TRUE
17,1840,University of Notre Dame,IN,Notre Dame,18,32,1350,,8530,19.00%,47.00%,29653,51505,TRUE
18,2520,Washington University in St. Louis,MO,St. Louis,18,32,1400,,7540,17.00%,41.00%,29245,51533,TRUE
19,1445,Georgetown University,DC,Washington,20,30,1320,,7453,17.00%,34.00%,29667,52300,TRUE
20,1564,Emory University,GA,Atlanta,21,30,1290,3.7,6861,25.00%,42.00%,24264,49392,TRUE
21,1312,University of California--Berkeley,CA,Berkeley,21,29,1300,3.9,29311,16.00%,23.00%,49614,42112,TRUE
22,1315,University of California--Los Angeles,CA,Los Angeles,21,25,1160,3.9,30873,18.00%,15.00%,42896,41270,TRUE
23,1328,University of Southern California,CA,Los Angeles,21,30,1280,3.7,18794,17.00%,33.00%,33112,54259,TRUE
24,3242,Carnegie Mellon University,PA,Pittsburgh,25,31,1380,3.8,6673,22.00%,40.00%,33550,53910,TRUE
25,6968,University of Virginia,VA,Charlottesville,25,29,1240,4,16331,30.00%,28.00%,28079,46975,TRUE
26,2978,Wake Forest University,NC,Winston-Salem,27,28,1240,,4955,30.00%,30.00%,24241,51400,TRUE
27,9092,University of Michigan--Ann Arbor,MI,Ann Arbor,28,29,1310,3.8,28983,29.00%,25.00%,32856,47476,TRUE
28,2219,Tufts University,MA,Medford,29,31,1370,,5508,14.00%,34.00%,27034,54318,TRUE
29,2785,New York University,NY,New York,30,29,1250,3.6,26135,32.00%,46.00%,41783,50464,TRUE
30,2974,University of North Carolina--Chapel Hill,NC,Chapel Hill,30,27,1190,4,18523,27.00%,41.00%,17815,34588,TRUE
31,2128,Boston College,MA,Chestnut Hill,32,30,1260,,9309,31.00%,35.00%,30170,53346,TRUE
32,3705,College of William and Mary,VA,Williamsburg,32,28,1250,,6276,37.00%,21.00%,42153,43099,TRUE
33,2133,Brandeis University,MA,Waltham,34,29,1270,3.9,3608,33.00%,47.00%,29288,53582,TRUE
34,1569,Georgia Institute of Technology,GA,Atlanta,34,30,1320,3.9,15489,26.00%,15.00%,39518,33014,TRUE
35,2894,University of Rochester,NY,Rochester,34,29,1250,,6386,38.00%,51.00%,28476,52020,TRUE
36,2130,Boston University,MA,Boston,37,28,1220,3.6,17944,29.00%,36.00%,34539,52082,TRUE
37,3024,Case Western Reserve University,OH,Cleveland,37,30,1280,,5152,35.00%,48.00%,35248,47500,TRUE
38,1320,University of California--Santa Barbara,CA,Santa Barbara,37,25,1140,4,21574,36.00%,8.00%,44849,42423,TRUE
39,2199,Northeastern University,MA,Boston,40,31,1330,,13473,29.00%,34.00%,38521,49497,TRUE
40,2029,Tulane University,LA,New Orleans,40,29,1250,3.5,6377,26.00%,31.00%,35111,52960,TRUE
41,2803,Rensselaer Polytechnic Institute,NY,Troy,42,28,1280,3.9,6265,44.00%,61.00%,35125,52305,TRUE
42,1314,University of California--Irvine,CA,Irvine,42,,1060,4,27331,41.00%,6.00%,43506,43530,TRUE
43,1317,University of California--San Diego,CA,La Jolla,42,25,1140,4,28127,36.00%,7.00%,42933,44197,TRUE
44,1535,University of Florida,FL,Gainesville,42,27,1180,4,34554,46.00%,20.00%,36825,28658,TRUE
45,3289,Lehigh University,PA,Bethlehem,46,29,1230,,5080,26.00%,38.00%,25376,50740,TRUE
46,1264,Pepperdine University,CA,Malibu,46,26,1110,3.6,3542,37.00%,51.00%,32416,51992,TRUE
47,1313,University of California--Davis,CA,Davis,46,24,1050,4,29546,42.00%,9.00%,44075,42396,TRUE
48,1536,University of Miami,FL,Coral Gables,46,28,1210,3.6,10849,38.00%,33.00%,34479,48484,TRUE
49,3895,University of Wisconsin--Madison,WI,Madison,46,27,1234,3.8,31710,53.00%,16.00%,36113,34782,TRUE
50,3388,Villanova University,PA,Villanova,46,30,1220,3.7,6999,44.00%,44.00%,35459,51434,TRUE
51,6965,Pennsylvania State University--University Park,PA,University Park,52,25,1090,3.6,41359,56.00%,14.00%,41789,33664,TRUE
52,1775,University of Illinois--Urbana-Champaign,IL,Champaign,52,26,1280,,33932,60.00%,9.00%,35977,31988,TRUE
53,6883,Ohio State University--Columbus,OH,Columbus,54,27,1160,,45831,54.00%,9.00%,37032,29659,TRUE
54,1598,University of Georgia,GA,Athens,54,26,1140,4,27951,54.00%,13.00%,30943,30392,TRUE
55,1444,George Washington University,DC,Washington,56,27,1180,,11504,40.00%,43.00%,37996,53518,TRUE
56,1825,Purdue University--West Lafayette,IN,West Lafayette,56,25,1080,3.7,30043,56.00%,16.00%,28383,28804,TRUE
57,29013,University of Connecticut,CT,Storrs,56,26,1130,,19324,49.00%,33.00%,37427,36948,TRUE
58,3658,University of Texas--Austin,TX,Austin,56,26,1140,,40168,40.00%,7.00%,40558,35766,TRUE
59,3798,University of Washington,WA,Seattle,56,26,1120,3.8,30933,45.00%,20.00%,47746,35538,TRUE

## Dataset 2: Individual SAT and GPA scores comparison

-  This dataset represents the connection between the SAT scores and GPAs of each of 180 students surveyed
-  By comparing each student's SAT and GPA, we can clarify whether students with high GPA will always have high SAT scores or vice versa

### Step 1: Construct a List of Lists (LoL) representation

Function `is_highGPA_highSAT()` takes one argument `data` (we can pass in a parsed dataset) and returns it as a list of lists

In [392]:
def is_highGPA_highSAT(data):

  SATtoGPA = list()

  for e in data: #iterate over all lines

    #strip the objects from whitespace using strip() function

    SATtoGPA.append(e.strip('\n').split(',')) #split the objects on the delimeter ',' using split() function
    
  return SATtoGPA
is_highGPA_highSAT(dataset2)

[['SAT Score', 'GPA'],
 ['1600', '4'],
 ['1593', '4'],
 ['1587', '4'],
 ['1580', '4'],
 ['1573', '4'],
 ['1567', '4'],
 ['1560', '4'],
 ['1553', '4'],
 ['1547', '4'],
 ['1540', '4'],
 ['1533', '4'],
 ['1527', '4'],
 ['1520', '3.99'],
 ['1513', '3.99'],
 ['1507', '3.99'],
 ['1500', '3.99'],
 ['1493', '3.99'],
 ['1487', '3.99'],
 ['1480', '3.99'],
 ['1473', '3.99'],
 ['1467', '3.99'],
 ['1460', '3.99'],
 ['1453', '3.99'],
 ['1447', '3.99'],
 ['1440', '3.99'],
 ['1433', '3.99'],
 ['1427', '3.99'],
 ['1420', '3.99'],
 ['1413', '3.99'],
 ['1407', '3.99'],
 ['1400', '3.99'],
 ['1393', '3.99'],
 ['1387', '3.99'],
 ['1380', '3.99'],
 ['1373', '3.98'],
 ['1367', '3.98'],
 ['1360', '3.98'],
 ['1353', '3.98'],
 ['1347', '3.98'],
 ['1340', '3.98'],
 ['1333', '3.98'],
 ['1327', '3.98'],
 ['1320', '3.97'],
 ['1313', '3.97'],
 ['1307', '3.97'],
 ['1300', '3.97'],
 ['1293', '3.97'],
 ['1287', '3.96'],
 ['1280', '3.96'],
 ['1273', '3.96'],
 ['1267', '3.95'],
 ['1260', '3.95'],
 ['1253', '3.95'],
 ['1247', '3.94'],
 ['1240', '3.94'],
 ['1233', '3.93'],
 ['1227', '3.93'],
 ['1220', '3.92'],
 ['1213', '3.92'],
 ['1207', '3.91'],
 ['1200', '3.91'],
 ['1193', '3.9'],
 ['1187', '3.89'],
 ['1180', '3.88'],
 ['1173', '3.87'],
 ['1167', '3.86'],
 ['1160', '3.85'],
 ['1153', '3.84'],
 ['1147', '3.83'],
 ['1140', '3.82'],
 ['1133', '3.81'],
 ['1127', '3.79'],
 ['1120', '3.78'],
 ['1113', '3.76'],
 ['1107', '3.75'],
 ['1100', '3.73'],
 ['1093', '3.71'],
 ['1087', '3.69'],
 ['1080', '3.68'],
 ['1073', '3.66'],
 ['1067', '3.63'],
 ['1060', '3.61'],
 ['1053', '3.59'],
 ['1047', '3.57'],
 ['1040', '3.54'],
 ['1033', '3.51'],
 ['1027', '3.49'],
 ['1020', '3.46'],
 ['1013', '3.43'],
 ['1007', '3.4'],
 ['1000', '3.37'],
 ['993', '3.34'],
 ['987', '3.31'],
 ['980', '3.28'],
 ['973', '3.25'],
 ['967', '3.22'],
 ['960', '3.19'],
 ['953', '3.16'],
 ['947', '3.12'],
 ['940', '3.09'],
 ['933', '3.06'],
 ['927', '3.02'],
 ['920', '2.99'],
 ['913', '2.95'],
 ['907', '2.92'],
 ['900', '2.88'],
 ['893', '2.85'],
 ['887', '2.81'],
 ['880', '2.77'],
 ['873', '2.74'],
 ['867', '2.7'],
 ['860', '2.66'],
 ['853', '2.62'],
 ['847', '2.58'],
 ['840', '2.54'],
 ['833', '2.49'],
 ['827', '2.44'],
 ['820', '2.39'],
 ['813', '2.35'],
 ['807', '2.3'],
 ['800', '2.25'],
 ['793', '2.2'],
 ['787', '2.15'],
 ['780', '2.1'],
 ['773', '2.05'],
 ['767', '2'],
 ['760', '1.95'],
 ['753', '1.89'],
 ['747', '1.84'],
 ['740', '1.79'],
 ['733', '1.73'],
 ['727', '1.68'],
 ['720', '1.62'],
 ['713', '1.55'],
 ['707', '1.48'],
 ['700', '1.39'],
 ['693', '1.31'],
 ['687', '1.23'],
 ['680', '1.12'],
 ['673', '0.99'],
 ['667', '0.87'],
 ['660', '0.75'],
 ['653', '0.62'],
 ['647', '0.48'],
 ['640', '0.31'],
 ['633', '0.15'],
 ['627', '0.02'],
 ['620', '0'],
 ['613', '0'],
 ['607', '0'],
 ['600', '0'],
 ['593', '0'],
 ['587', '0'],
 ['580', '0'],
 ['573', '0'],
 ['567', '0'],
 ['560', '0'],
 ['553', '0'],
 ['547', '0'],
 ['540', '0'],
 ['533', '0'],
 ['527', '0'],
 ['520', '0'],
 ['513', '0'],
 ['507', '0'],
 ['500', '0'],
 ['493', '0'],
 ['487', '0'],
 ['480', '0'],
 ['473', '0'],
 ['467', '0'],
 ['460', '0'],
 ['453', '0'],
 ['447', '0'],
 ['440', '0'],
 ['433', '0'],
 ['427', '0'],
 ['420', '0'],
 ['413', '0'],
 ['407', '0'],
 ['400', '0']]

### Step 2: Construct a pandas DataFrame from the LoL created

In [393]:
SATvsGPA = pd.DataFrame(is_highGPA_highSAT(dataset2))
SATvsGPA

             0    1
0    SAT Score  GPA
1         1600    4
2         1593    4
3         1587    4
4         1580    4
..         ...  ...
177        427    0
178        420    0
179        413    0
180        407    0
181        400    0

[182 rows x 2 columns]

## Dataset 3: University Admission Dataset

-  This dataset will be directly converted to a pandas DataFrame

-  Dataset 3 illustrates how different universities rank admission factors such as GPA, standardized tests, academic rigor, essays, recommendations, etc with four levels of consideration:
    +  0 = Not Considered
    +  1 = Considered
    +  2 = Important
    +  3 = Very Important 

-  From the dataset, we can determine if universities weigh test scores more than GPAs or vice versa, which indicates SAT or GPA will get students admitted to top institutions in the US

Function `score_importance()` has one argument `file_name`. When the function is called, we pass along the csv file `Admission Data.csv`, and it will return a DataFrame

In [394]:
def score_importance(file_name):
  dataframe = pd.read_csv(file_name) #read the csv file and convert it to a dataframe simultaneously
  return dataframe
  
score_importance('Admission Data.csv')

,Name of University,Rigor,Rank,GPA,Test Score,Essay,Recommendation,Interview,Extracurricular,Talent,Personality,First Generation,Religious,State Residency,Race,Volunteer,Work Experience,Level of Interest
0,Princeton University,3,3,3,3,3,3,1,3,3,3,1,0.0,0,1,1,1,0
1,Brown University,3,3,3,3,3,3,1,2,3,3,1,0.0,1,1,1,1,0
2,California Institute of Technology (Caltech),3,2,2,3,3,3,0,2,1,3,1,0.0,0,1,1,1,0
3,Cornell University,3,2,3,3,3,3,1,3,3,3,1,NaN,1,1,1,1,0
4,Dartmouth College,3,3,3,3,3,3,1,3,2,3,0,1.0,0,1,1,1,1
5,Harvard University,1,1,1,1,1,1,1,1,1,1,1,0.0,0,1,1,1,0
6,Massachusetts Institute of Technology (MIT),2,1,2,2,2,2,2,2,2,1,1,0.0,0,1,1,1,0
7,Stanford University,3,3,3,3,3,3,1,3,3,3,1,0.0,0,1,1,1,0
8,University of Pennsylvania,3,2,1,1,1,1,2,2,2,3,1,0.0,1,1,1,1,1
9,Washington University in St. Louis (WashU),3,3,3,3,3,3,1,2,3,3,1,0.0,0,1,2,2,1
10,Yale University,3,3,3,1,3,3,1,3,3,3,1,0.0,1,1,1,1,0
11,Rice University,3,3,3,3,3,3,1,3,3,3,1,0.0,1,1,1,1,1
12,Duke University,3,3,3,3,3,3,1,3,3,3,1,1.0,1,1,1,1,1
13,Vanderbilt University,3,3,3,3,3,2,1,3,1,3,1,0.0,1,1,1,1,0
14,Northwestern University,3,3,3,1,2,2,1,2,2,2,1,0.0,0,1,1,1,1
15,University of Southern California (USC),3,0,3,3,3,3,0,2,2,2,1,0.0,0,1,1,1,0
16,University of Notre Dame,3,2,2,1,2,2,0,2,2,3,2,1.0,0,2,2,1,1
17,Carnegie Mellon University (CMU),3,3,3,2,2,2,0,1,2,2,2,0.0,0,2,3,3,0
18,Georgetown University,3,3,3,3,3,3,2,2,3,3,1,0.0,1,1,1,1,0
19,New York University (NYU),3,3,3,3,2,2,1,2,3,2,1,0.0,0,1,1,1,1
20,The Ohio State University (OSU),3,3,3,2,1,1,0,2,2,1,2,0.0,1,1,2,2,0
21,Miami University,3,3,3,3,3,3,0,1,3,3,1,1.0,1,0,1,1,0
22,Case Western Reserve University (CWR),3,3,3,1,2,2,2,1,2,2,1,0.0,0,2,2,1,1

# Data Cleaning

## Cleaning Dataset 1

-  This dataset shows the universities, average test scores, GPAs, etc corresponding to the best 295 universities in the US

-  Since we only need the SAT, GPA 

-  Therefore, in the new dataframe, the independent variables ae SAT Avg, HS GPA Avg, and the dependent variables are Acceptance Rate, School Ranking 

-  Then, we will process the N/A values

### Step 1: Deleting unnecessary columns/rows

-  We ONLY need the columns: School Name, School Ranking, SAT Avg, HS GPA Avg, Acceptance Rate 

  ----> The unnecessary columns will be eliminated using the `drop()` method

In [395]:
acceptance_df.drop(['State', 'Percent Receiving Aid', 'City', 'ACT Avg', 'Total Enrollment', 'Cost after Aid', 'Total Tuiton', 'Is Public?'], axis='columns', inplace=True)
acceptance_df.drop(acceptance_df.columns[0], axis=1)
cleaned_acceptance_df = acceptance_df.loc[acceptance_df['School Ranking'] != '-1']

### Step 2: Processing N/A values

-  Since the first dataset's missing values are just blank strings by default, we have to replace them with N/A so that to eliminate all rows containing those values

In [396]:
#Replace all missing values in the DataFrame with N/A 
for i in range(len(cleaned_acceptance_df)):
  if cleaned_acceptance_df.loc[i, 'HS GPA Avg'] == '':
    cleaned_acceptance_df.loc[i, 'HS GPA Avg'] = np.nan

  elif cleaned_acceptance_df.loc[i, 'SAT Avg'] == '':
    cleaned_acceptance_df.loc[i, 'SAT Avg'] = np.nan

  elif cleaned_acceptance_df.loc[i, 'School Ranking'] == '':
    cleaned_acceptance_df.loc[i, 'School Ranking'] = np.nan

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [397]:
#Check how many NaN values are there in the entire DataFrame
cleaned_acceptance_df.isnull().sum()

KEYid              0
School Name         0
School Ranking      0
SAT Avg             4
HS GPA Avg         44
Acceptance Rate     0
dtype: int64

In [398]:
#eliminating all rows containing N/A values
cleaned_acceptance_df.dropna(inplace=True)
cleaned_acceptance_df.isnull().sum()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

KEYid             0
School Name        0
School Ranking     0
SAT Avg            0
HS GPA Avg         0
Acceptance Rate    0
dtype: int64

After dealing with the N/A values, we have to sort the columns according to both the GPA Avg values and School Rankings to spot top-tier schools that have minor to big difference between HS GPA average and SAT score average

In [399]:
#sort the dataframe according to HS GPA average

df_GPAsorted = cleaned_acceptance_df.sort_values(by='HS GPA Avg', ascending=False)
df_GPAsorted.head()

,﻿KEYid,School Name,School Ranking,SAT Avg,HS GPA Avg,Acceptance Rate
1,2155,Harvard University,2,1430,4,5.00%
25,6968,University of Virginia,25,1240,4,30.00%
66,3425,Clemson University,67,1150,4,51.00%
67,3379,University of Pittsburgh,68,1190,4,55.00%
54,1598,University of Georgia,54,1140,4,54.00%

In [400]:
cleaned_acceptance_df.head(30)

,﻿KEYid,School Name,School Ranking,SAT Avg,HS GPA Avg,Acceptance Rate
0,2627,Princeton University,1,1400,3.9,7.00%
1,2155,Harvard University,2,1430,4,5.00%
2,1774,University of Chicago,3,1450,4,8.00%
7,3378,University of Pennsylvania,8,1380,3.9,9.00%
11,2077,Johns Hopkins University,11,1420,3.9,12.00%
16,3535,Vanderbilt University,14,1420,3.8,11.00%
20,1564,Emory University,21,1290,3.7,25.00%
21,1312,University of California--Berkeley,21,1300,3.9,16.00%
22,1315,University of California--Los Angeles,21,1160,3.9,18.00%
23,1328,University of Southern California,21,1280,3.7,17.00%
24,3242,Carnegie Mellon University,25,1380,3.8,22.00%
25,6968,University of Virginia,25,1240,4,30.00%
27,9092,University of Michigan--Ann Arbor,28,1310,3.8,29.00%
29,2785,New York University,30,1250,3.6,32.00%
30,2974,University of North Carolina--Chapel Hill,30,1190,4,27.00%
33,2133,Brandeis University,34,1270,3.9,33.00%
34,1569,Georgia Institute of Technology,34,1320,3.9,26.00%
36,2130,Boston University,37,1220,3.6,29.00%
38,1320,University of California--Santa Barbara,37,1140,4,36.00%
40,2029,Tulane University,40,1250,3.5,26.00%
41,2803,Rensselaer Polytechnic Institute,42,1280,3.9,44.00%
42,1314,University of California--Irvine,42,1060,4,41.00%
43,1317,University of California--San Diego,42,1140,4,36.00%
44,1535,University of Florida,42,1180,4,46.00%
46,1264,Pepperdine University,46,1110,3.6,37.00%
47,1313,University of California--Davis,46,1050,4,42.00%
48,1536,University of Miami,46,1210,3.6,38.00%
49,3895,University of Wisconsin--Madison,46,1234,3.8,53.00%
50,3388,Villanova University,46,1220,3.7,44.00%
51,6965,Pennsylvania State University--University Park,52,1090,3.6,56.00%

## Cleaning dataset 2

### Step 1: Name Columns

Since this is a List of Lists (LoL) representation of data, the originally converted DataFrame will not have column names, instead, the 'SAT' and 'GPA' label is the first row of the column. Therefore, we have to get rid of that first row and name the two columns

In [401]:
#Name the columns
SATvsGPA.columns = ['SAT', 'GPA']

#delete the first row of the dataframe since we have already named the columns
SATvsGPA.drop(labels=0, axis=0, inplace=True)
SATvsGPA

      SAT GPA
1    1600   4
2    1593   4
3    1587   4
4    1580   4
5    1573   4
..    ...  ..
177   427   0
178   420   0
179   413   0
180   407   0
181   400   0

[181 rows x 2 columns]

### Step 2: Processing N/A values
Check if there is any N/A values using the `isnull()` function and calculate the number of N/A values spotted with `sum()`

In [402]:
SATvsGPA.isnull().sum()

SAT    0
GPA    0
dtype: int64

## Dataset 3

### Step 1: Deleting unnecessary columns

-  We only need the columns: Name of University, Rigor, Rank, GPA, Test Score 

-  We don't need the columns: Essay, Recommendation, Interview, Extracurricular, Talent, Personality, First Generation, Religious, State Residency, Race, Volunteer, Work Experience, Level of Interest

-  The column Rigor is obtained because academic rigor affects the GPA Average. For example, universities with high consideration for academic rigor might have lower regard towards applicants' GPA

In [403]:
admission_factors = score_importance('Admission Data.csv')
admission_factors.drop(['Essay', 'Recommendation', 'Interview', 'Extracurricular', 'Talent', 'Personality', 'First Generation', 'Religious', 'State Residency', 'Race', 'Volunteer', 'Work Experience', 'Level of Interest'], axis=1, inplace=True)
admission_factors

                              Name of University  Rigor  Rank  GPA  Test Score
0                           Princeton University      3     3    3           3
1                               Brown University      3     3    3           3
2   California Institute of Technology (Caltech)      3     2    2           3
3                             Cornell University      3     2    3           3
4                              Dartmouth College      3     3    3           3
5                             Harvard University      1     1    1           1
6    Massachusetts Institute of Technology (MIT)      2     1    2           2
7                            Stanford University      3     3    3           3
8                     University of Pennsylvania      3     2    1           1
9     Washington University in St. Louis (WashU)      3     3    3           3
10                               Yale University      3     3    3           1
11                               Rice University      3     3    3           3
12                               Duke University      3     3    3           3
13                         Vanderbilt University      3     3    3           3
14                       Northwestern University      3     3    3           1
15       University of Southern California (USC)      3     0    3           3
16                      University of Notre Dame      3     2    2           1
17              Carnegie Mellon University (CMU)      3     3    3           2
18                         Georgetown University      3     3    3           3
19                     New York University (NYU)      3     3    3           3
20               The Ohio State University (OSU)      3     3    3           2
21                              Miami University      3     3    3           3
22         Case Western Reserve University (CWR)      3     3    3           1

### Step 2: Processing N/A values

Check if there is any N/A values using the `isnull()` function and calculate the number of N/A values spotted with `sum()`

In [404]:
admission_factors.isnull().sum()

Name of University    0
Rigor                 0
Rank                  0
GPA                   0
Test Score            0
dtype: int64

After processing the N/A values, we need to set the name of universities as the index for better data accessibility

In [405]:
admission_factors.set_index('Name of University', inplace=True)
admission_factors

                                              Rigor  Rank  GPA  Test Score
Name of University
Princeton University                              3     3    3           3
Brown University                                  3     3    3           3
California Institute of Technology (Caltech)      3     2    2           3
Cornell University                                3     2    3           3
Dartmouth College                                 3     3    3           3
Harvard University                                1     1    1           1
Massachusetts Institute of Technology (MIT)       2     1    2           2
Stanford University                               3     3    3           3
University of Pennsylvania                        3     2    1           1
Washington University in St. Louis (WashU)        3     3    3           3
Yale University                                   3     3    3           1
Rice University                                   3     3    3           3
Duke University                                   3     3    3           3
Vanderbilt University                             3     3    3           3
Northwestern University                           3     3    3           1
University of Southern California (USC)           3     0    3           3
University of Notre Dame                          3     2    2           1
Carnegie Mellon University (CMU)                  3     3    3           2
Georgetown University                             3     3    3           3
New York University (NYU)                         3     3    3           3
The Ohio State University (OSU)                   3     3    3           2
Miami University                                  3     3    3           3
Case Western Reserve University (CWR)             3     3    3           1

## Analysis and Conclusion

### Analysis

In the first DataFrame, we can see that the top 10 universities, despite having the SAT average fluctuating around 1380 to 1450, manage to have such minimal differences in terms of applicants' GPA average of either 4 or 3.9. Furthermore, if we expand the school rankings' range to top 30, the margin for HS GPA Average increases JUST from 3.6 to 4.0 while the SAT average can go from 1160 for top schools like UCLA, 1190 for UNC Chapel Hill. This means, knowing other factors matter too, that students still have chances with a HIGH GPA and a LOW SAT

In the second DataFrame, there is a direct correlation between individual SAT and GPA scores as students with high GPA usually have a high SAT score and vice versa. However, not all students with high GPA will have a high SAT score since the ones with 3.99 GPA have a range of SAT score from 1380 to 1520 and those with 3.91 to 3.97 GPA have a surprising range from 1207 to 1373. On the other hand, students with 2. GPAs can already score 700+ in the SAT


In the third DataFrame, there are 5 universities that consider the applicants' GPA more important than standardized test scores while there's only Caltech that prefers test scores to GPA

### Conclusion 

In conclusion, we can see a noticable gap between GPA and SAT scores in the race for college admissions. From all the analysis above, we can say that higher GPA guarantees more college acceptance compared to a high SAT score